@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor_titulo: #FFFFFF;
    --cor_texto1: #F9F9F9;
    --cor_texto2: #C0C0C0;
    --cor_botao: #167BF7;
    --tipografia: "Inter", sans-serif;
    --cor_de_fundo: #00030C;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor_de_fundo);
}

.conteiner {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

/*-- Inicio do Site --*/
.cabecalho {
    background-image: url(assent/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.conteiner_caixa {
    margin: 0 6em;
}

.cabecalho_titulo {
    color: var(--cor_titulo);
    font-size: 1.75rem;
    font-weight: 700;
    font-family: var(--tipografia);
}

.cabecalho_imagem {
    margin: 1em 0 2em 0;
}

.cabecalho_btn {
    background-color: var(--cor_botao);
    border-radius: 8px;
    padding: 1rem;
    color: var(--cor_titulo);
    text-decoration: none;
    font-family: var(--tipografia);
    display: block;
    margin-bottom: 1em;
    text-align: center;
}

.cabecalho_btn_1 {
    background-color: transparent;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid white;
    color: var(--cor_titulo);
    display: block;
    text-decoration: none;
    font-family: var(--tipografia);
    margin-bottom: 1em;
    text-align: center;
}

.cabecalho_texto {
    font-size: 12px;
    color: var(--cor_texto2);
    font-family: var(--tipografia);
}

/*-- Seção 1 --*/
.secundario_1 {
    margin: 0 10em;
    align-items: center;
}

.secundario_imagem {
    width: 90%;
}

.secundario_subtitulo {
    color: var(--cor_titulo);
    font-family: var(--tipografia);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.secundario_texto {
    color: var(--cor_texto2);
    font-family: var(--tipografia);
    font-size: 1rem;
    font-weight: 400;
}

/*-- Seção 2 --*/
.secundaria_2 {
    margin: 0 10em;
    align-items: center;
    display: inline-flex;
}

.secundario_descricao_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.secundario_texto_2 {
    color: var(--cor_texto2);
    font-family: var(--tipografia);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.cabecalho_btn_2 {
    background-color: var(--cor_botao);
    border-radius: 8px;
    padding: 1rem;
    color: var(--cor_titulo);
    text-decoration: none;
    font-family: var(--tipografia);
    margin-top: 1em;
    text-align: center;
}

.secundario_imagem_2 {
    width: 80%;
}

/*-- Seção 3 --*/
.secundaria_3 {
    margin: 0 10em;
    align-items: center;
}

.secundario_imagem_3 {
    width: 90%;
}

.secundario_subtitulo_3 {
    color: var(--cor_titulo);
    font-family: var(--tipografia);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.secundario_texto_3 {
    color: var(--cor_texto2);
    font-family: var(--tipografia);
    font-size: 1rem;
    font-weight: 400;
}

/*-- Seção 4 --*/
.secundaria_4 {
    display: block;
}

.descricao_4 {
    color: var(--cor_titulo);
    font-family: var(--tipografia);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.imagem_descricao {
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.secao_tv {
    color: var(--cor_texto1);
    font-family: var(--tipografia);
    font-size: 32px;
    font-weight: 700;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape_lista {
    display: flex;
}

.rodape_links {
    margin: 16px;
}

.rodape_links_link {
    text-decoration: none;
    color: var(--cor_texto1);
    font-family: var(--tipografia);
    font-size: 11px;
}

.rodape_texto {
    color: var(--cor_texto2);
    font-family: var(--tipografia);
    font-size: 10px;
    font-weight: 300;
    margin: 16px;
}